.form-inline.clearfix
	.nested-fields
		.form-inline
			.form-group
				= f.input :step, label: false, placeholder: 'step', input_html: { class: "form-control"}
			= link_to_remove_association "remove", f, class: "btn btn-default"